<div class="privacy">
  <div class="privacy-text-container">
    <div class="privacy_title">Datenschutzerklärung</div>
    <ol>
    <li class="privacy_subtitle">Name und Kontaktdaten Verantwortlicher und Datenschutzbeauftragter</li>
      <!-- Daten von Kirstin erfragen? -->
      <ul class="privacy_list">Verwaltung Webseite (inklusive Benutzerregistrierung):
        <li>Feuerwehr</li>
      </ul>
      <ul class="privacy_list">Datenverarbeitung:<br/>
        gkd-el<br/>
        Vattmannstraße 11<br/>
        45879 Gelsenkirchen<br/>
        Telefon: 0209/169-8870<br/>
        Fax: 0209/169-8888<br/>
        E-Mail: webmaster@gkd-el.de
      </ul>
      <ul class="privacy_list">Datenschutzbeauftrager:
        <li>Punkt 1</li>
      </ul>

    <li class="privacy_subtitle">Datenverarbeitung</li>
        <ul class="privacy_list">
        Rechtsgrundlage:
        <li>Bei der Verarbeitung der personenbezogenen Daten, für die eine Einwilligung der betroffenen Person eingeholt
          wurde, dient Art. 6 Abs. 1 lit. a der EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage.</li>
        <li>Bei der Verarbeitung personenbezogener Daten, die zur Erfüllung eines Vertrages, dessen Vertragspartei die
          betroffene Person ist, erforderlich ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage.</li>
        <li>Bei der Verarbeitung personenbezogener Daten, die zur Erfüllung einer rechtlichen Verpflichtung erforderlich
          ist, der die Feuerwehr Gelsenkirchen unterliegt, dient Art. 6 Abs. 1 lit. c DSGVO als Rechtsgrundlage.</li>
        <li>Bei der Verarbeitung personenbezogener Daten, die das lebenswichtige Interesse der betroffenen Person oder
          einer anderen natürlichen Person erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als Rechtsgrundlage.</li>
        <li>Bei der Verarbeitung personenbezogener, die für die Wahrnehmung einer Aufgabe erforderlich sind, die im
        öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Veranwortlichen übertragen
          wurde, dient Art. 6 Abs. 1 lit. e DSGVO als Rechtsgrundlage.</li>
        <li>Bei der Verarbeitung personenbezogener Daten, bei denen ein berechtigtes Interesse der Feuerwehr Gelsenkirchen
        oder eines Dritte gewahrt wird und überwiegt das Interesse nicht die Interessen oder Grundrechte und
          Grundfreiheiten des Betroffenen, dient Art. 6 Abs. 1 lit. f DSGVO als Rechtsgrundlage.</li>
        </ul>
      <p class="privacy_text">
        Datenerhebung: Erfasst werden der Name (Vorname und Nachname), die Abteilung, zu der ein Mitarbeiter gehört, die
        E-Mail-Adresse, das (verschlüsselte) Passwort und optional die Telefonnummer.
      </p>
        <ul class="privacy_list">Datennutzung:
          <li>Der Name wird erfasst, um einen Mitarbeiter eindeutig zu identifizieren.</li>
          <li>Die Abteilung wird für die Zugriffsregelung im Intranet genutzt.</li>
          <li>Die E-Mail wird für Benachrichtigungen im Intranet (z.B. neue News, Dokumente) benutzt.</li>
          <li>Das Passwort dient zum Login im Intranet.</li>
          <li>Die Telefonnummer ist eine optionale Information für den Administrator.</li>
        <li>Das berechtigte Interesse liegt vor, um eine Nutzung des Intranets zu ermöglichen und die Kommunikation bei der
          Feuerwehr Gelsenkirchen zu verbessern.</li>
      </ul>
      <p class="privacy_text">
        Speicherdauer: Die unter Datenerhebung genannten Daten werden gelöscht, wenn die Anstellung bei der Feuerwehr
        Gelsenkirchen endet.
      </p>

    <li class="privacy_subtitle">Widerruf:</li>
      <p class="privacy_text">
        Gemäß Art. 7 Abs. 3 DSGVO haben Sie das Recht Ihre datenschutzrechtliche Einwilligung jederzeit zu
        widerrufen. Die Datenverarbeitung, die auf dieser Einwilligung beruht, darf in Zukunft nicht mehr von uns
        fortgeführt werden. Durch den Widerruf wird die Rechtmäßigkeit der Verarbeitung aufgrund der Einwilligung bis zum
        Widerruf nicht berührt. Möchten Sie ihre Einwilligung widerrufen, genügt eine E-Mail an
        <!-- E-Mail-Adresse einfügen -->
      </p>

    <li class="privacy_subtitle">Rechte betroffener Personen</li>
      <ul class="privacy_list">
      <li>
        Auskunftsrecht:
        Gemäß Art. 15 DSGVO haben Sie das Recht Auskunft über die verarbeiteten personenbezogenen Daten zu verlangen.
        Dazu gehören Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die Kategorien von
        Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das Bestehen
        eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines
        Beschwerderechts, die Herkunft Ihrer Daten, sofern diese nicht bei uns erhoben wurden, sowie über das Bestehen
        einer automatisierten Entscheidungsfindung einschließlich Profiling und ggf. aussagekräftigen Informationen zu
        deren Einzelheiten.
      </li>
      <li>
        Recht auf Berichtigung:
        Gemäß Art. 16 DSGVO haben Sie das Recht unverzüglich die Berichtigung unrichtiger Daten oder die Vervollständigung
        Ihrer gespeicherten personenbezogenen Daten zu verlangen.
      </li>
      <li>
        Recht auf Löschung:
        Gemäß Art. 17 DGSVO haben Sie das Recht die Löschung Ihrer gespeicherten personenbezogenen Daten zu verlangen,
        soweit nicht die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung
        einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung oder
        Verteidigung von Rechtsansprüchen erforderlich ist.
      </li>
      <li>
        Rechte auf Einschränkung der Verarbeitung:
        Gemäß Art. 18 DSGVO haben Sie das Recht die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu
        verlangen, soweit die Richtigkeit der Daten von Ihnen bestritten wird, der Verarbeitung unrechtmäßig ist, deren
        Löschung von Ihnen aber abgelehnt wird und die Daten von uns nicht mehr benötigt werden, Sie jedoch dieser zur
        Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen oder sie Widerspruch gegen die
        Verarbeitung gemäß Art. 21 DSGVO eingelegt haben.
      </li>
      <li>
        Recht auf Datenübertragbarkeit:
        Gemäß Art. 20 DSGVO haben Sie das Recht die personenbezogenen Daten, die bereitgestellt wurden, in einem
        strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder die Übermittlung an einen anderen
        Verantwortlichen zu verlangen, sofern die Verarbeitung auf einer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO, Art. 9
        Abs. 2 lit. a DSGVO) oder einem Vertrag (Art. 6 Abs. 1 lit. b DSGVO) beruht und die Verarbeitung mithilfe
        automatisierter Verfahren erfolgt. Das Recht auf Datenübertragbarkeit gilt nicht für eine Verarbeitung
        personenbezogener Daten, die für die Wahrnehmung einer Aufgabe erforderlich ist, die im öffentlichen Interesse
        liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen wurde.
      </li>
      <li>
        Widerspruchsrecht:
        Gemäß Art. 21 DSGVO haben Sie das Recht Widerspruch gegen die Verarbeitung von personenbezogenen Daten einzulegen,
        die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, aus Gründen, die sich aus Ihrer besonderen Situation
        ergeben oder sich der Widerspruch gegen Direktwerbung richtet. Die Sie betreffenden personenbezogenen Daten
        werden dann nicht mehr verarbeitet, es sei denn, es werden zwingende schutzwürdige Gründe für die Verarbeitung
        nachgewiesen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der
        Geltendmachung, Ausübung und Verteidigung von Rechtsansprüchen.
        Möchten Sie von Ihrem Widerspruchsrecht Gebrauch machen, genügt eine E-Mail an
        <!-- E-Mail-Adresse hinzufügen -->
      </li>
      <li>
        Automatisierte Entscheidungen im Einzelfall einschließlich Profiling:
        Gemäß Art. 22 DSGVO haben Sie das Recht, nciht einer ausschließlich auf automatisierter Verarbeitung,
        einschließlich Profiling, beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung
        entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt. Dies gilt nicht, wenn die Entscheidung für den
        Abschluss oder die Erfüllung eines Vertrags zwischen Ihnen und uns erforderlich ist, aufgrund von
        Rechtsvorschriften der Union oder der Mitgliedsstaaten, denen wir unterliegen, zulässig ist und diese
        Rechtsvorschriften angemesssene Maßnahmen zur Wahrung der Rechte und Freiheiten sowie Ihrer berechtigten
        Interessen enthalten oder mit Ihrer ausdrücklichen Einwilligung erfolgen.
      </li>
      <li>
        Recht auf Beschwerde bei einer Aufsichtsbehörde:
        Gemäß Art. 77  DSGVO haben Sie das Recht unbeschadet eines anderweitigen verwaltungsrechtlichen oder
        gerichtlichen Rechtsbehelfs sich bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedsstaat Ihres
        Aufenthalts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes zu beschweren, wenn Sie der Ansicht
        sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt.
        <!--Aufsichtsbehörde angeben-->
      </li>
      </ul>
    </ol>
  </div>
</div>
