<div class="frame">
  <p class="title">Abteilung zuweisen von {{name}} {{lastname}}</p>

  <div class="roles-overview">
    <div class="roles-table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort  >

        <!-- Abteilung ID CHECKED -->
        <ng-container matColumnDef="checked" >
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let department">
            <mat-checkbox name="checked" [ngModel]="actualDepartments.get(department.abteilungID)" (ngModelChange)="toggle(department.abteilungID)"></mat-checkbox></td>
        </ng-container>

        <!-- Abteilung Name Spalte -->
        <ng-container matColumnDef="departmentName">
          <th mat-header-cell *matHeaderCellDef> Abteilung </th>
          <td mat-cell *matCellDef="let department">
            {{department.name}}
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let department; columns: displayedColumns;"></tr>

      </table>
    </div>
  </div>

  <div class="options">

    <button class="save-button" style="grid-column: 2" type="submit" (click)="save()">
      <div class="button-wrapper--icon"> <mat-icon class="add-user-icon">done</mat-icon></div>
      <div class="button-wrapper--text"> Speichern </div>
    </button>
    <button class="save-button" style="grid-column: 3" [routerLink]="['/user/user-table']" type="submit" value="Submit" >
      <div class="button-wrapper--icon"> <mat-icon class="add-user-icon">cancel</mat-icon></div>
      <div class="button-wrapper--text"> Abbrechen </div>
    </button>
  </div>

</div>

