.roles {
  background-color: white;
  box-shadow: 0 3px 5px 0 rgba(15,22,33,0.2);
  padding: 38px 15px 40px 15px ;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  color: #656565;
  font-size: 25px;
  margin-left: 45px;
}

.roles-table-container{
  box-shadow: 0 3px 5px 0 rgba(15,22,33,0.2);
  border-radius: 5px;
  border: 2px solid #e6e6e6;
}

.roles__subtitle {
  font-family: 'Open Sans', sans-serif;
  padding-top: 15px;
  color: #838383;
}

.roles-overview {
  padding: 38px 50px 0px 50px;
  border-radius: 5px;
  height: 100%;
}

table {
  width: 100%;
  box-shadow: 0 3px 5px 0 rgba(15,22,33,0.2);
}

.mat-row:nth-child(odd) {
  background-color: #e5e5e5;
}

.mat-table
{
  border-radius: 5px;
  overflow:hidden !important; /*Round corners*/
  border: 2px solid #e6e6e6;
}

table tr:last-child td /*To remove the last border*/
{
  border-bottom:0 solid
}

.delete-button_icon {
  color: #4c4f4e;
}

.roles-overview__list {
  list-style-type: none;
}

li{
  list-style-type: none;
}

.roles__input {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.roles__button {
  background-color: #1abc9c;
  box-shadow: 0 3px 5px 0 rgba(15, 22, 33, 0.2);
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  border-style: none;
}

.roles__button:hover {
  background-color: #14947b;
}

.roles_nav_button {
  background-color: #1abc9c;
  box-shadow: 0 3px 5px 0 rgba(15, 22, 33, 0.2);
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  border-style: none;
}

.button-wrapper--icon {
  position: absolute;
  padding-right: 10px;
}

.button-wrapper--text {
  margin-left: 30px;
}

.roles_nav_button:hover {
  background-color: #14947b;
  cursor: pointer;
}

.space_left {
  margin-left: 20px;
}

.add-role-container {
  padding: 0px 15px 0px 50px ;
  height: 100%;
}

.add-role__input {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.assign-role-container {
  padding: 0px 15px 0px 50px ;
  height: 100%;
}

.remove-role-container {
  padding: 0px 15px 0px 50px ;
  height: 100%;
}

.edit-rights-icon {
  color: #4C4F4E;
}

.button-wrapper--rights-icon {
  display: flex;
}
