<!-- Daten von Kirstin erfragen? -->
<div class="impressum">
  <div class="impressum-container">
    <p class="impressum_title">Impressum</p>
    <div class="impressum_subtitle">Angaben nach Telemediengesetz §5 Absatz 1:</div>
    <ul>
      <li>Feuerwehr Gelsenkirchen</li>
      <li>Seestraße 3</li>
      <li>45894 Gelsenkirchen</li>
      <li>Telefon: 0209/17040</li>
      <li>E-Mail: feuerwehr@gelsenkirchen.de</li>
      <li>bei juristischen Personen: Rechtsform und alle vertretungsberechtigten Personen</li>
      <li>ggf. Angaben zur ständigen Aufsichtsbehörde (wenn Dienst im Rahmen einer Tätigkeit angeboten/erbracht wird)</li>
      <li>ggf. Angaben zum Handelsregister, Vereinsregister, Partner-/Genossenschaftsregister</li>
      <li>ggf. Registernummer</li>
      <li>ggf. Umsatzsteueridentifkationsnummer (gem. §27 a Umsatzsteuergesetz)</li>
      <li>Hinweis auf Möglichkeit der europäischen Online-Streitbeilegung: Es erfolgt keine Teilnahme an einem
      Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle. Eine Verpflichtung hierzu besteht nicht.</li>
    </ul>
    <div class="impressum_subtitle">Redaktionelle Verantwortung nach Rundfunkstaatsvertrag §55:</div>
    <ul>
      <li>Feuerwehr Gelsenkirchen</li>
      <li>Seestraße 3</li>
      <li>45894 Gelsenkirchen</li>
      <li>bei juristischen Personen: alle vertretungsberechtigten Personen</li>
    </ul>
  </div>
</div>
